@import "tailwindcss";

@theme {
  --color-pink: #dd3268;
  --font-size-smp: 15px;
  --font-size-xsp: 13px;
  --transition-duration: 300ms;
}

@layer base {
  main {
    @apply my-4;
  }
  body {
    @apply overflow-x-hidden bg-black text-white;
  }
  input,
  textarea {
    @apply outline-none;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  button {
    @apply cursor-pointer;
  }
}

@utility container {
  @apply mx-auto max-w-7xl px-4;
}
